
/* #658E9C */


.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #A9ACA9;
}


.formContainer {
    border: 1px solid grey;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #28536B;
    color: #A9ACA9;
    /* width: 40%; */
    
}

.errorMsg {

    color:red;
    font-size: 14px
}

.error {
    border: 1px solid red;
}

.btnSubmit {
    background-color: #A9ACA9;
    border: 1px solid #A9ACA9;
    
}
.btnSubmit:hover {
    background-color: #8CBA80;
    border: 1px solid #8CBA80;
    
}



